@import "../../color.scss";
.dropdown__default {
    @include font-config_body($height:18px, );
    cursor: pointer;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid $dark-shade25;
    //background: url(/src/blocks/dropdown/__icon/keyboard_arrow_down-black-18dp.svg) no-repeat 100% 50%;
    border-radius: 2px;
    outline: none;
    background: $color-white;
    &:focus {
        border-color: $dark-shade50;
    }
    ;
}

input[value].dropdown__default {
    padding-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 87px;
    box-sizing: border-box;
}

.dropdown__default_expanded {
    border-radius: 2px 2px 0 0;
}