@import 'blocks/color.scss';

.checkbox__like {
    display:flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    outline:none;
    border: 1px solid $dark-shade25;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    box-sizing: border-box;
    transition: .4s;

&::before {
    content: "favorite_border";
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 9px;
    left:-1px;
    text-align: center;
    color:$dark-shade25;
    width: 20px;
    height: 20px;
    transition: .4s;

}

&::after {
    content:"2";
    width: 6px;
    height: 13px;
    position: absolute;
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    left:23px;
    text-align: center;
    transition: .4s;

}
}

input:checked + .checkbox__like::before {
    content: "favorite";
    color:$color_purple;
}

input:checked + .checkbox__like::after {
    content: "3";
    color:$color_purple;
}

input:checked + .checkbox__like {
    
    border-color:$color_purple;
}