link(rel="stylesheet", href="index.scss")
mixin like(text)
    .checkbox
        label.checkbox__wrap.typo.typo_theme_extralight.typo_normal
            input(type="checkbox")
            span.checkbox__like
        //- span.checkbox__like_text.typo.typo_theme_default.typo_normal=text