@import "../../color.scss";
.simple-button {
    //position: absolute;
    cursor: pointer;
    display: block;
    height: 15px;
    text-transform: uppercase;
    color: inherit;
    padding: 0;
    border-style: none;
    outline: none;
    background: none;
    &:active {
        color: $dark-shade50;
    }
}