link(rel='stylesheet' href='index.scss')
//- script(src='//code.jquery.com/jquery-3.4.1.js')
//- script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
//- mixin slider()
//-     label(for="amount") Price
//-     input(type="text" id="amount")
//-     div(id="slider-range")

//- рабочее
mixin slider()
    .slider
        .slider__range-number.typo_montserrat.typo_normal.typo_size_s.typo_theme_light.typo_height_s
        input(type="text" class="js-range-slider" name="my_range" value="")