.button {
    display:block;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    border-style: none;
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.button:focus {
    outline: none;
}
