.button {
    cursor: pointer;
    display: block;
    min-width: 99px;
    height: 44px;
    border-radius: 22px;
    border-style: none;
    box-sizing: border-box;
    text-transform: uppercase;
}

.button:focus {
    outline: none;
}

.button_height_s {
    height:34px;
}

.button_width_s {
    height:34px;
}