.button {
    display:block;
    //position: absolute;
    width: 99px;
    height: 44px;
    //left: 980px;
    //top: 262px;
    border-radius: 22px;
    border-style: none;
    box-sizing: border-box;
}

.button:focus {
    outline: none;
}
