link(rel="stylesheet", href="index.scss")
mixin text-field(placeholder)
    input.text-field__input.typo_montserrat.typo_normal.typo_size_m.typo_theme_default.typo_height_m(type="text" placeholder=placeholder)