@import "../../color.scss";
.text-field {
    position: relative;
    width: inherit; // подумать,как исправить
    // width: 100%; // после
    // max-width: 320px;// убрать
    height: 44px;
    outline: none;
    border: 1px solid $dark-shade25;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    &:hover,
     :focus {
        border-color: $dark-shade50;
    }
    &::placeholder {
        
        color: $dark-shade25;
    }

    // &::-webkit-input-placeholder
    // {
    //     color: $dark-shade25;
    // }
        
    // &::-moz-placeholder
    // {
    //     color: $dark-shade25;
    // }
        
    // &:-moz-placeholder
    // {
    //     color: $dark-shade25;
    // }
        
    // &:-ms-input-placeholder
    // {
    //     color: $dark-shade25;
    // }



    // &:hover::-webkit-input-placeholder
    // {
    //     color: $dark-shade75;
    // }
        
    // &:hover::-moz-placeholder
    // {
    //     color: $dark-shade75;
    // }
        
    // &:hover:-moz-placeholder
    // {
    //     color: $dark-shade75;
    // }
        
    // &:hover:-ms-input-placeholder
    // {
    //     color: $dark-shade75;
    // }
}