include /../../blocks/checkbox-buttons/checkbox-buttons.pug

mixin expandable-checklist({items=[],text,status})
    .expandable-checklist
        if status
            .expandable-checklist__button
                .expandable-checklist__text=text
                .expandable-checklist__icon keyboard_arrow_up
            .expandable-checklist__items.expandable-checklist__items_status_enabled.js-expandable-checklist__items
                each item in items
                    +checkbox(item)
                
        else
            .expandable-checklist__button
                .expandable-checklist__text=text
                .expandable-checklist__icon keyboard_arrow_down
            .expandable-checklist__items.js-expandable-checklist__items
                each item in items
                    +checkbox(item)