block realize
doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        include /../../blocks/logo/logo.pug
        block include
    body
        block logo
            .logo
                +logo()
        block content