@font-face {
  font-family: 'Material Icons';
  src:
    local('☺'),
    url('/src/icons/MaterialIcons-Regular.woff') format('woff'),
    url('/src/icons/MaterialIcons-Regular.ttf') format('truetype'),
    url('/src/icons/MaterialIcons-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
