@import "./__arrow/pagination__arrow.scss";
@import "./__link/pagination__link.scss";
.pagination {
    display: block;
    // flex-direction: column;
    // align-items: center;
    // flex-basis: auto;
    width: inherit;
}

.pagination__link-wrap {
    display: flex;
}

.pagination__text {
    text-align: justify;
    display: flex;
}