link(rel="stylesheet", href="index.scss")
.pagination.typo.typo_size_s.typo_theme_light
    .pagination__link-wrap
        a.pagination__link(href="#") 1
        a.pagination__link(href="#") 2
        a.pagination__link(href="#") 3
        a.pagination__link(href="#") ...
        a.pagination__link(href="#") 15
        a.pagination__link.arrow.pagination__arrow(href="#") arrow_forward
    span.typo_montserrat.typo_size_s.typo_theme_default 1-12 из 100+ вариантов аренды