@import "./__arrow/pagination__arrow.scss";
@import "./__link/pagination__link.scss";
@import "./__text/pagination__text.scss";
.pagination {
    display: block;
    width: inherit;
}

.pagination__link-wrap {
    display: flex;
    @include font-config_h3($color: $dark-shade50, $weight:normal);
}