.typo_montserrat {
    font-family: Montserrat;
    font-style: normal;
}

.typo_quicksand {
    font-family: Quicksand;
    font-style: normal;
}
.typo_opensans {
    font-family: OpenSans;
    font-style: normal;
}