.reservation__icon {
    cursor: pointer;
    box-sizing: border-box;
    color: $dark-shade25;
    font-family: "Material Icons";
    transform: rotate(180deg);
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-left: 5px;
}

@media (max-width:340px) {
    .reservation__icon {
        margin-left: 0;
    }
} 