.reservation__icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    color: $dark-shade25;
    font-family: "Material Icons";
    transform: rotate(180deg);
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
}