.radio-buttons.typo.typo_size_s.typo_theme_light
    
    label(for="man").radio-buttons__wrap
        input.radio-buttons__input(type="radio" id="man" name="radio")
        span.radio-buttons__circle
        span.radio-buttons__addon Мужчина
    
    label(for="woman").radio-buttons__wrap
        input.radio-buttons__input(type="radio" id="woman" name="radio")
        span.radio-buttons__circle
        span.radio-buttons__addon Женщина