mixin counter(text)
    .counter(data-type=text)
        .counter__text=text
        .counter__wrap
            button.counter__button.js-counter__button_type_minus.counter__button_status-disabled.js-counter__button_status-disabled(title='Down' data-input-id=id data-delta=-1) -
            input.counter__input.js-counter__input(readonly type='text' value='0')
            button.counter__button.js-counter__button_type_plus(title='Up' data-input-id=id data-delta=1) +
