mixin counter(text,id)
    .counter
        .counter__text.typo_montserrat.typo_bold.typo_theme_dark.typo_height_s.typo_size_s=text
        .counter_abs
            .counter__wrap
                button.counter__button.counter__button_status-disabled.js-counter__button-minus.typo.typo_normal(title='Down') -
                input.counter__input.js-counter__input.typo_montserrat.typo_bold.typo_theme_dark.typo_height_s(type='text' value='0' id=id)
                button.counter__button.js-counter__button-plus.typo.typo_normal(title='Up') +
