mixin counter()
    .counter
        button.counter__button.counter__button_status-disabled.counter__button-minus.typo.typo_normal(title='Down') -
        input.counter__input.typo_montserrat.typo_bold.typo_theme_dark.typo_height_s(type='text' value='0')
        button.counter__button.counter__button-plus.typo.typo_normal(title='Up') +
