@import "../../color.scss";
@import "./__button/counter__button.scss";
@import "./__button/_status/counter__button_status-disabled.scss";
@import "./__input/counter__input.scss";
@import "./__text/counter__text.scss";
@import "./__wrap/counter__wrap.scss";
.counter {
    position: relative;
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
}