
mixin button_gradient-background(text,active)
    if active
        button.button.button_gradient-background_active.button_gradient-background.typo_montserrat.typo_size_s.typo_bold.typo_height_s=text
    else
        button.button.button_gradient-background.typo_montserrat.typo_size_s.typo_bold.typo_height_s=text   
