@import 'blocks/color.scss';

.button_gradient-background {
    background: $gradient-color;
    border-style: none;
    color: $color_white;
}

.button_gradient-background:active {
    opacity: 0.5;
}