@import "../../color.scss";
.button_gradient-background {
    background: $gradient-color;
    border-style: none;
    color: $color_white;
    width: 100%;
    height: inherit;
}

.button_gradient-background:active {
    opacity: 0.5;
}

.button_gradient-background_active {
    opacity: 0.5;
}