.donut {
    width: 100%;
    height: 100%;
    
}

.donut__count-reviews {
    @include font-config_h1();
    fill: $color_purple;
}

.donut__text {
    @include font-config_body($weight:bold);
    
    fill: $color_purple;
}