.header__user {
    display: flex;
    align-items: center;
}

@media (max-width:1000px) {
    .header__user {
        justify-content: space-between;
        align-items: flex-end;
        width: 80%;
    }
}