
mixin dropdowns-calendar(nameFrom, nameTo)
    .dropdowns-calendar.js-dropdowns-calendar
        .dropdowns-calendar__dropdowns
            .dropdowns-calendar__wrap
                .dropdowns-calendar__name=nameFrom
                .dropdowns-calendar__input.js-dropdowns-calendar__input-start
                    input.dropdowns-calendar__date.js-dropdowns-calendar__date-from(type='text' placeholder='ДД.ММ.ГГГГ' readonly)
                    .dropdowns-calendar__icon keyboard_arrow_down
            .dropdowns-calendar__wrap
                .dropdowns-calendar__name=nameTo
                .dropdowns-calendar__input.js-dropdowns-calendar__input-end
                    input.dropdowns-calendar__date.js-dropdowns-calendar__date-to(type='text' placeholder='ДД.ММ.ГГГГ' readonly )
                    .dropdowns-calendar__icon keyboard_arrow_down
        .dropdowns-calendar__calendar.js-dropdowns-calendar__calendar(type="text" class="datepicker-here")
