.checkbox-buttons__div {
    cursor: pointer;
    display: flex;
    line-height: 18px;
    width: auto;
    margin-bottom: 10px;
    max-width: 192px;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        margin-right: 9px;
        min-width: 20px;
        min-height: 20px;
        /* Dark 25% */
        border: 1px solid $dark-shade25;
        box-sizing: border-box;
        border-radius: 4px;
    }
}