.room-details__img-column {
    display: flex;
    flex-direction: column;
    max-width: 461px;
    justify-content: flex-end;
}

@media(min-width:1440px){
    .room-details__img-column {
        max-width: 100%;
        height: auto;
    }
}