
mixin button_gradient-border({text,active,width,height}) 
    if active
        button.button.button_gradient-border_active.button_gradient-border
            span.button__text=text
    else
        button.button.button_gradient-border(class='button_width_'+width+' button_height_'+height)
            span.button__text=text
        