.bullet-list__circle_color_green {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 5px;
}