@import "./__field/dropdown-calendar__field.scss";
@import "./__icon/dropdown-calendar__icon.scss";
.dropdown-calendar {
    position: relative;
    width: inherit;
    height: 44px;
    z-index: 100000;
}

.dropdown-calendar__calendar {
    display: block;
    position: absolute;
    width: 100%;
    top: 49px;
}

// .dropdown-calendar__width {
//     max-width: 266px;
// }

.single-calendar {
    width:inherit;
}