doctype html
html
    include \..\..\blocks/button/_gradient-border/button_gradient-border.pug
    include \..\..\blocks/button/_gradient-background/button_gradient-background.pug
    include \..\..\blocks/simple-button/simple-button.pug
    include \..\..\blocks/button-arrow/button-arrow.pug
    include \..\..\blocks/checkbox/__toggle/checkbox__toggle.pug
    include \..\..\blocks/checkbox/__like/checkbox__like.pug
    include \..\..\blocks/text-field/text-field.pug
    include \..\..\blocks/text-field/_subscribtion/text-field_subscription.pug
    include \..\..\blocks/rate/rate.pug
    include \..\..\blocks/checkbox-buttons/checkbox-buttons.pug
    include \..\..\blocks/pagination/pagination.pug
    include \..\..\blocks/radio-buttons/radio-buttons.pug
    include \..\..\blocks/checkbox-buttons/_rich/checkbox-buttons_rich.pug
    include \..\..\blocks/bullet-list/bullet-list.pug
    include \..\..\blocks/icon-text-list/icon-text-list.pug
    include \..\..\blocks/review/review.pug
    include \..\..\blocks/logo/logo.pug
    include \..\..\blocks/slider/slider.pug
    include \..\..\blocks/counter/counter.pug
    include \..\..\blocks/dropdown/dropdown.pug
    include \..\..\blocks/expandable-checklist/expandable-checklist.pug
    include \..\..\blocks/dropdowns-calendar/dropdowns-calendar.pug
    include \..\..\blocks/dropdown-calendar/dropdown-calendar.pug
    
    //- .logo
    //-     +logo()
    .first-row
        .first-row__first-column
            .first-group
                .first-group__element.form-elements-text-field_width
                    .inscription
                        .inscription__element text field
                        .inscription__status default
                    +text-field('Email')
                
                .first-group__element.form-elements-text-field_width
                    .inscription
                        .inscription__element text field
                        .inscription__status hover / focus
                    +text-field('Email','This is pretty awesome')
                
                .first-group__element.form-elements-dropdown_width_m
                    .inscription
                        .inscription__element dropdown
                        .inscription__status default
                    +dropdown({items:['ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ'],text:'Сколько гостей',vis:'видно', mix:'dropdown-guest'})
                
                .first-group__element.form-elements-text-field_width
                    .inscription
                        .inscription__element masked text field
                        .inscription__status default
                    +text-field('ДД.ММ.ГГГГ')
            
            .second-group
                .group_gap_big.group__element.form-elements-calendar
                    +dropdowns-calendar('date dropdown','date dropdown')
                
                .group_gap_big.group__element.form-elements-filter-date-dropdown
                    .inscription
                        .inscription__element filter date dropdown
                    +dropdown-calendar()
                
                .group_gap_big.group__element.form-elements-text-field-subscription_width
                    .inscription
                        .inscription__element subscribtion text field
                    +text-field_subscription('Email')
        
        .first-row__second-column
            .group_gap_big.group__element.form-elements-checkbox
                .inscription_gap_big.inscription
                        .inscription__element checkbox buttons
                .form-elements-checkbox__checkbox-group
                    .form-elements-checkbox__checkbox-item
                        +checkbox('Можно курить')
                    .form-elements-checkbox__checkbox-item
                        +checkbox('Можно с питомцами')
                    .form-elements-checkbox__checkbox-item
                        +checkbox('Можно пригласить\u00A0гостей (до 10 человек)')
            
            .group_gap_big.group__element.form-elements-radio
                .inscription_gap_big.inscription
                        .inscription__element radio buttons
                .form-elements-radio__radio-group
                    .form-elements-radio__radio-item
                        +radio('Мужчина','man','gender')
                    .form-elements-radio__radio-item
                        +radio('Женщина','woman','gender')
            
            .group_gap_big.group__element.form-elements-toggle
                .inscription_gap_big.inscription
                        .inscription__element toggle
                .form-elements-toggle__toggle-item
                    +toggle("Получать спецпредложения",'checked')
                .form-elements-toggle__toggle-item
                    +toggle("Получать спецпредложения")
            
            .group_gap_big.group__element.form-elements-like
                .inscription_gap_big.inscription
                        .inscription__element like button
                .form-elements-like__like-group
                    .form-elements-like__like-item
                        +like()
                    .form-elements-like__like-item
                        +like('checked')
            
            .group_gap_big.group__element.form-elements-rate
                .inscription_gap_big.inscription
                        .inscription__element rate button
                .form-elements-rate__rate-group
                    .form-elements-rate__rate-item
                        +rate-star()
                    .form-elements-rate__rate-item
                        +rate-star('2')
                
        .first-row__third-column
    .second-row
        .second-row__first-column
        .second-row__second-column
        .second-row__third-column

    //- .calendar
    //-     +dropdowns-calendar('date dropdown','date dropdown')

    //- //- .calendar
    //- //-     +dropdowns-calendar('date dropdown2','date dropdown2')
    //- .rating-star
    //-     +rate-star('checked')
    //- +toggle("Получать спецпредложения")
    //- +like()

    //- +button_gradient-background('click me')
    //- +button_gradient-border('click me')
    //- +simple-button('click me')
    //- +button-arrow('перейти к оплате')
    
    //- +checkbox-rich('Широкий коридор','Ширина коридоров в номере не\u00A0менее 91 см.','hall')
    //- +checkbox-rich('Помощник для инвалидов','На 1 этаже вас встретит специалист и\u00A0проводит до номера.','help')
    
    //- +checkbox('Можно курить','smoke')
    //- +checkbox('Можно с питомцами','pet')
    //- +checkbox('Можно пригласить гостей (до 10 человек)','guest')

    //- .radio-buttons
    //-     +radio('Мужчина','man','gender')
    //-     +radio('Женщина','woman','gender')
    //- .bullet
    //-     +bullet-list("Нельзя с питомцами")
    //-     +bullet-list("Без вечеринок и мероприятий")
    //-     +bullet-list("Время прибытия — после 13:00, а\u00A0выезд до 12:00")
    //- .wrap
    //-     +icon-text-list("insert_emoticon","Комфорт","Шумопоглощающие стены")
    //-     +icon-text-list("location_cityicon","Удобство","Окно в каждой из спален")

    //- +review('Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
    //- +logo()
    //- +text-field("Email")
    //- +slider()
    
    //- .dropdowns
    //-     .dropdown_width_s
    //-         +dropdown('СПАЛЬНИ','КРОВАТИ','ВАННЫЕ КОМНАТЫ', undefined, undefined, 'dropdown-items')
    //-     .dropdown_width_m
    //-         +dropdown('ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ','Сколько гостей','видно', 'dropdown-guest')
        
    //- +expandable-checklist('expandable checkbox list')
    //- +dropdown-calendar()
    