extends \..\..\layout/__ui-kit/layout__ui-kit.pug

block include
    include \..\..\blocks/button/_gradient-border/button_gradient-border.pug
    include \..\..\blocks/button/_gradient-background/button_gradient-background.pug
    include \..\..\blocks/simple-button/simple-button.pug
    include \..\..\blocks/button-arrow/button-arrow.pug
    include \..\..\blocks/checkbox/__toggle/checkbox__toggle.pug
    include \..\..\blocks/checkbox/__like/checkbox__like.pug
    include \..\..\blocks/text-field/text-field.pug
    include \..\..\blocks/text-field/_subscribtion/text-field_subscription.pug
    include \..\..\blocks/text-field/_masked/text-field_masked.pug
    include \..\..\blocks/rate/rate.pug
    include \..\..\blocks/checkbox-buttons/checkbox-buttons.pug
    include \..\..\blocks/pagination/pagination.pug
    include \..\..\blocks/radio-buttons/radio-buttons.pug
    include \..\..\blocks/checkbox-buttons/-rich/checkbox-buttons-rich.pug
    include \..\..\blocks/bullet-list/bullet-list.pug
    include \..\..\blocks/icon-text-list/icon-text-list.pug
    include \..\..\blocks/review/review.pug
    include \..\..\blocks/logo/logo.pug
    include \..\..\blocks/slider/slider.pug
    include \..\..\blocks/counter/counter.pug
    include \..\..\blocks/dropdown/dropdown.pug
    include \..\..\blocks/expandable-checklist/expandable-checklist.pug
    include \..\..\blocks/dropdowns-calendar/dropdowns-calendar.pug
    include \..\..\blocks/dropdown-calendar/dropdown-calendar.pug
    
block content
    .form-elements
        .row
            .column
                .column__section
                    .form-elements__element.form-elements__element_size_m
                        .inscription
                            .inscription__element text field
                            .inscription__status default
                        +text-field({placeholder:'Email'})
                    
                    .form-elements__element.form-elements__element_size_m
                        .inscription
                            .inscription__element text field
                            .inscription__status hover / focus
                        +text-field({placeholder:'Email',value:'This is pretty awesome'})
                    
                    .form-elements__element.form-elements__element_size_m
                        .inscription
                            .inscription__element dropdown
                            .inscription__status default
                        +dropdown({items:['ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ'],text:'Сколько гостей',vis:'видно', mix:'dropdown-guest'})
                    
                    .form-elements__element.form-elements__element_size_m
                        .inscription
                            .inscription__element masked text field
                            .inscription__status default
                        +text-field-masked('ДД.ММ.ГГГГ')
                

                //- Тут две секции, и у второй нужен отступ
                //- Хотя лучше через css, column__section:last-child { margin-top: 228px }
                .column__section
                    .form-elements__element.form-elements__element_size_m
                        +dropdowns-calendar('date dropdown','date dropdown')
                    //- бля здесь уже есть group, тогда сверху будет section
                    
                    .form-elements__element.form-elements__element_size_s
                        .inscription
                            .inscription__element filter date dropdown
                        +dropdown-calendar()
                    
                    .form-elements__element.form-elements__element_size_s
                        .inscription
                            .inscription__element subscribtion text field
                        +text-field_subscription('Email')
            
            .column
                    .inscription_gap_big.inscription
                            .inscription__element checkbox buttons
                    .form-elements__element.form-elements__element_gap_l
                        +checkbox('Можно курить')
                        +checkbox('Можно с питомцами')
                        .form-elements__checkbox
                            +checkbox('Можно пригласить\u00A0гостей (до 10 человек)')
                
                
                    .inscription_gap_big.inscription
                            .inscription__element radio buttons
                    .form-elements__element.form-elements__element_gap_l.form-elements__element_layout_flex
                        .form-elements__radio
                            +radio('Мужчина','man','gender')
                        .form-elements__radio
                            +radio('Женщина','woman','gender')
                
                
                    .inscription_gap_big.inscription
                            .inscription__element toggle
                    .form-elements__element.form-elements__element_gap_l
                        .form-elements__toggle
                            +toggle("Получать спецпредложения",'checked')
                        .form-elements__toggle
                            +toggle("Получать спецпредложения")
                
                
                    .inscription_gap_big.inscription
                            .inscription__element like button
                    .form-elements__element.form-elements__element_gap_l.form-elements__element_layout_flex
                        .form-elements__like
                            +like()
                        .form-elements__like
                            +like('checked')
                
                
                    .inscription_gap_big.inscription
                            .inscription__element rate button
                    .form-elements__element.form-elements__element_gap_m.form-elements__element_layout_flex
                        .form-elements__rate
                            +rate-star()
                        .form-elements__rate
                            +rate-star('2')    
            
            .column
                .form-elements__element.form-elements__element_size_s.form-elements__element_gap_l
                    +slider('RANGE SLIDER')
                .form-elements__element
                    .inscription_gap_big.inscription
                                .inscription__element Buttons
                    .form-elements__element.form-elements__element_gap_m.form-elements__element_layout_flex
                        .form-elements__button-gradient
                            +button_gradient-background('click me')
                        .form-elements__button-gradient
                            +button_gradient-background('click me','active')
                    
                    .form-elements__element.form-elements__element_gap_m.form-elements__element_layout_flex
                        .form-elements__button-gradient
                            +button_gradient-border('click me')
                        .form-elements__button-gradient
                            +button_gradient-border('click me','active')
                        
                    .form-elements__element.form-elements__element_gap_m.form-elements__element_layout_flex
                        .form-elements__button-simple
                            +simple-button('click me','typo_theme_purple')
                        .form-elements__button-simple
                            +simple-button('click me','typo_theme_light')
                
                    .form-elements__element.form-elements__element_gap_l.form-elements__element_size_m
                        +button-arrow('перейти к оплате')
                    
                    .form-elements__element.form-elements__element_gap_l.form-elements__pagination
                        .inscription_gap_big.inscription
                                .inscription__element pagination
                        +pagination

        .row
            .column
                .form-elements__element.form-elements__element_size_s
                    .inscription
                        .inscription__element dropdown
                        .inscription__status default
                    +dropdown({items:['СПАЛЬНИ','КРОВАТИ','ВАННЫЕ КОМНАТЫ'], mix:'dropdown-items'})
                
                .form-elements__element.form-elements__element_size_s
                    .inscription
                        .inscription__element dropdown
                        .inscription__status expanded
                    +dropdown({items:['СПАЛЬНИ','КРОВАТИ','ВАННЫЕ КОМНАТЫ'], mix:'dropdown-items',expanded:'enabled'})
                
                .form-elements__expandable
                    .form-elements__element.form-elements__element_size_s
                        +expandable-checklist('expandable checkbox list')
                    .form-elements__element.form-elements__element_size_s
                        +expandable-checklist('expandable checkbox list','enabled')
            
            .column
                .form-elements__element.form-elements__element_size_m
                    .inscription
                        .inscription__element dropdown
                    +dropdown({items:['ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ'],text:'Сколько гостей',vis:'видно', mix:'dropdown-guest',expanded:'enabled'})
                
                .form-elements__element.form-elements__element_size_s.form-elements__rich-checkbox
                    .inscription_gap_big.inscription
                            .inscription__element rich checkbox buttons
                    +checkbox-rich('Широкий коридор','Ширина коридоров в номере не\u00A0менее 91 см.','hall')
                    +checkbox-rich('Помощник для инвалидов','На 1 этаже вас встретит специалист и\u00A0проводит до номера.','help')
                    
            .column
                .form-elements__element.form-elements__element_size_m
                        .inscription
                            .inscription__element dropdown
                        +dropdown({items:['ВЗРОСЛЫЕ','ДЕТИ','МЛАДЕНЦЫ'],text:'Сколько гостей',vis:'видно', mix:'dropdown-guest',expanded:'enabled'})
                .form-elements__bullet-list
                    .inscription_gap_big.inscription
                            .inscription__element bullet list
                    +bullet-list("Нельзя с питомцами")
                    +bullet-list("Без вечеринок и мероприятий")
                    +bullet-list("Время прибытия — после 13:00, а\u00A0выезд до 12:00")
        .row
            .column
                .form-elements__element
                    +icon-text-list("insert_emoticon","Комфорт","Шумопоглощающие стены")
                    +icon-text-list("location_cityicon","Удобство","Окно в каждой из спален")

            .column
                .form-elements__review
                    +review('1','Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
