@import "../../color.scss";
@import "./__div/checkbox-buttons-rich__div.scss";
@import "./__text/checkbox-buttons-rich__text.scss";
.checkbox-buttons-rich {
    width:100%;
    max-width: 236px;
    margin-bottom: 0;
}

