include /../checkbox/__like/checkbox__like.pug

mixin review(user,name, date, comment)
    .review
        .review__first-line.typo_montserrat.typo_theme_default
            
            img.review__photo(src= "../../img/user"+user+".png", alt="")
            .review__text-div
                span.typo_bold.typo_size_m=name
                span.typo_normal.typo_size_m=date
        .review__second-line.typo_montserrat.typo_theme_default
            +like()
            span.review__comment.typo_normal.typo_size_m.typo_height_m=comment
