@import"./src/blocks/review/__photo/review__photo.scss";
@import"./src/blocks/review/__text-div/review__text-div.scss";
@import"./src/blocks/review/__comment/review__comment.scss";
@import"./src/blocks/review/__left-column/review__left-column.scss";

.review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

.review__first-line {
    display: flex;
    align-items: center;
}

.review__second-line {
    margin-left:4px;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}