link(rel="stylesheet", href="index.scss")
mixin review(name, date, comment)
    .review
        .review__left-column
            .review__photo
            +like()
        .review__text-div.typo_montserrat.typo_theme_default
            span.typo_bold.typo_size_m=name
            span.typo_normal.typo_size_m=date
            span.review__comment.typo_normal=comment
