mixin checkbox-rich(head,description)
    .checkbox-buttons
        label
            input.checkbox-buttons__input(type="checkbox")
            span.checkbox-buttons__text.checkbox-buttons_rich_head=head
        span.checkbox-buttons_rich_description=description