.checkbox-buttons__div    
    input.checkbox-buttons__input(type="checkbox" id="hall")
.checkbox-buttons_rich-div    
    label.checkbox-buttons.checkbox-buttons_rich.typo_theme_default.typo_bold(for="hall") Широкий коридор
    span.checkbox-buttons_rich-text.typo.typo_theme_light.typo_normal.typo_size_s Ширина коридоров в номере <br> не менее 91 см.
 
    input.checkbox-buttons__input(type="checkbox" id="help")
.checkbox-buttons_rich-div    
    label.checkbox-buttons.checkbox-buttons_rich.typo_theme_default.typo_bold(for="help") Помощник для инвалидов
    span.checkbox-buttons_rich-text.typo.typo_theme_light.typo_normal.typo_size_s На 1 этаже вас встретит специалист <br> и проводит до номера.