.checkbox-buttons_rich-div {
    display: flex;
    flex-direction: column;
    
    margin-top: 11px;
}

.checkbox-buttons_rich {

    width:100%;
    max-width: 236px;
    margin-bottom: 0;
}

.checkbox-buttons_rich-text {
    padding-left: 30px;
    //padding-top: 5px;
    width:100%;
    max-width: 236px;
    

 }