link(rel="stylesheet", href="index.scss")
mixin checkbox-rich(head,description,id)
    .checkbox-buttons
        .checkbox-buttons_rich-div.typo_montserrat
            input.checkbox-buttons__input(type="checkbox" id=id)
            label.checkbox-buttons__div.checkbox-buttons_rich.typo_theme_default.typo_bold.typo_size_m(for=id)=head
            span.checkbox-buttons_rich-text.typo_theme_light.typo_normal.typo_size_s.typo_height=description
    //- .checkbox-buttons_rich-div  
    //-     input.checkbox-buttons__input(type="checkbox" id="help")
    //-     label.checkbox-buttons.checkbox-buttons_rich.typo_theme_default.typo_bold(for="help") Помощник для инвалидов
    //-     span.checkbox-buttons_rich-text.typo.typo_theme_light.typo_normal.typo_size_s На 1 этаже вас встретит специалист <br> и проводит до номера.
     Ширина коридоров в номере <br> не менее 91 см.