@font-face {
    font-family: 'Material Icons';
    src: local('☺'),
        url('MaterialIcons-Regular.woff') format('woff'),
        url('MaterialIcons-Regular.ttf') format('truetype');
        // url('MaterialIcons-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}