@import '../../color.scss';

.button-arrow__text {
    @include font-config_h3($color:$color_white);
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width:270px) and (max-width:320px) {
    .button-arrow__text {
        //padding-left: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 15px;
        //box-sizing: border-box;
    }
}

@media (max-width:270px) {
    .button-arrow__text {
        //padding-left: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 44px;
        //box-sizing: border-box;
    }
}