mixin text-field-masked(placeholder,value)
    input.text-field_masked.text-field.typo_montserrat.typo_normal.typo_size_m.typo_theme_default.typo_height_m(type="text" placeholder=placeholder value=value)