.dropdowns-calendar__wrap {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    box-sizing: border-box;
    height: 64.44px;
}

@media (max-width:380px) {
    .dropdowns-calendar__wrap:first-child {
        margin-right:10px;
    }
}