.card-room__img {
    width: inherit;
    box-sizing: border-box;
    &:hover {
        
        .card-room__slick-next {
    
            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: $color_white;
            border: none;
            background-color: transparent;
            display: inline !important;
            position: absolute;
            top: 42%;
            right: 11px;
            // height: 100%;
        
                &:focus {
                    outline: none;
                }
        }
        
        .card-room__slick-prev {
            font-family: Material Icons;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            color: $color_white;
            border: none;
            background-color: transparent;
            z-index: 1;
            display: inline !important;
            position: absolute;
            top: 42%;
            left: 11px;
            // height: 100%;
        
            &:focus {
                outline: none;
            }
        }

    }
}
.card-room__slick-prev {
    display:none !important;
}
.card-room__slick-next {
    display:none !important;
}
.slick-dotted.slick-slider[class] {
    margin-bottom: 0;
}

.slick-dots[class] {
            bottom: 5px;
            display: inline-block;
            width: auto;
            right: 15px;
            visibility: visible;
        }
        
        .slick-dots[class] li {
        
            
            width: 11px;
            margin: 0;
        }
        
        .slick-dots[class] li.slick-active button:before {
            background-color: $color_white;
            opacity: 1;
        }
        
        .slick-dots[class] li button:before {
            content: "";
            border-radius: 50%;
            border: 1px solid $color_white;
            height: 8px;
            width: 8px;
            box-sizing: border-box;
            opacity: 1;
        }
        
        .slick-dots[class] li button {
            padding: 0;
            width: 5px;
        }