@import "../typo/typo.scss";
@import "./__info/card-room__info.scss";
@import "./__number-number/card-room__number-number.scss";
@import "./__number-status/card-room__number-status.scss";
@import "./__number/card-room__number.scss";
@import "./__text/card-room__text.scss";
@import "./__num/card-room__num.scss";
@import "./__num/_currensy/card-room__num_currensy_ruble.scss";
@import "./__price-day/card-room__price-day.scss";
@import "./__room-details/card-room__room-details.scss";
@import "./__line/card-room__line.scss";
@import "./__img/card-room__img.scss";
@import "./__room-rate/card-room__room-rate.scss";

.card-room {
    width: inherit;
    height: 257px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
}