include \..\..\blocks/counter/counter.pug
link(rel="stylesheet", href="index.scss")
mixin dropdown
    .dropdown
        button.dropdown__default
        //- input(type="text" readonly)
        .dropdown__icon keyboard_arrow_down

    .dropdown__expanded
        +counter('СПАЛЬНИ','1')         
        +counter('КРОВАТИ','2')
        +counter('ВАННЫЕ КОМНАТЫ','3')
        