include \..\..\blocks/counter/counter.pug
include \..\..\blocks/simple-button/simple-button.pug
link(rel="stylesheet", href="index.scss")
mixin dropdown({items=[],text,vis, mix})
    div.dropdown(class=mix)
        input.dropdown__default.js-dropdown__default.typo_montserrat.typo_size_m.typo_normal.typo_theme_default.typo_height_m(value='' readonly placeholder=text)
        .dropdown__icon.js-dropdown__icon keyboard_arrow_down
        .dropdown__expanded.js-dropdown__expanded
            each item in items
                +counter(item)
            if vis
                .dropdown__buttons.js-dropdown__buttons
                    .dropdown__buttons_clear.js-dropdown__buttons_clear.typo_theme_light
                        +simple-button('очистить')
                    .js-dropdown__buttons_apply.typo_theme_purple
                        +simple-button('применить')
    