@import "../../color.scss";
.dropdowns-calendar__date {
    @include font-config_body($height:18px);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid $dark_shade25;
    border-radius: 4px;
    outline: none;
    padding-left: 15px;
}

// input[value].dropdowns-calendar__date {
//     padding-left: 15px;
// }

input[placeholder].dropdowns-calendar__date {
    padding-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 44px;
    box-sizing: border-box;
}