mixin footer-creative()
    .footer-creative
        img.footer-creative__elem.footer-creative__logo(src="../../img/logoHead.svg", alt="")
        .footer-creative__elem.footer-creative__text Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-creative__elem.footer-creative__icons
                i.footer-creative__icon(class="fa fa-twitter")
                i.footer-creative__icon(class="fa fa-instagram")
                i.footer-creative__icon(class="fa fa-facebook-square")