.header__menu-expand-elem-icon {
    width: 24px;
    height: 21px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(31, 32, 65, 0.5);
}