extends \..\..\layout/__ui-kit/layout__ui-kit.pug

block realize
    -title = "Header-footer"
block include
    include /../../blocks/logo/logo.pug
    include /../../blocks/header/header.pug
    include /../../blocks/footer/footer.pug
    include /../../blocks/footer-creative/footer-creative.pug
block content
    .header-footer
        .header-footer__element
            +header()
        .header-footer__element
            +header('auth')
        .header-footer__element
            +footer()
        .header-footer__element
            +footer-creative()
    