body {
    margin:0;
    background: #E5E5E5;
}

.logo {
    position: relative;
    top: 48px;
    left: 48px;
    width: 48px;
}

.header-footer {
    margin: 140px 0;
}
.header-footer__element {
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
}