extends /../../layout/__ui-kit/layout__ui-kit.pug

block realize
    -title = "Colors and types"
block include
    include /../../blocks/rectangle-color/rectangle-color.pug
    include /../../blocks/logo/logo.pug
    include /../../blocks/typography/typography.pug
    
block content
    .color-and-types
        .rectangle
            +rectangle-color("dark-shade-100", "Dark Shade 100%", "#1F2041")
            +rectangle-color("dark-shade-75", "Dark Shade 75%", "#1F2041")
            +rectangle-color("dark-shade-50", "Dark Shade 50%", "#1F2041")
            +rectangle-color("dark-shade-25", "Dark Shade 25%", "#1F2041")
            +rectangle-color("dark-shade-5", "Dark Shade 5%", "#1F2041")
            +rectangle-color("purple", "Purple", "#bc9cff")
            +rectangle-color("green", "Green", "#6fcf97")
        .typograph
            +typo('H1',"H1",'This one is the sub-section\u00A0or widget title')
            +typo('H2',"H2",'Next one is the item title inside widgets')
            +typo('H3',"H3",'This is a label or CTA text')
            +typo('Body',"Body",'This is the body text which is used for most of\u00A0the design, like paragraphs, lists, etc.')