<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Color and Types
    body
    include \..\..\blocks/rectangle-color/rectangle-color.pug
    .rectangle
        +rectangle-color("dark-shade-100", "Dark Shade 100%", "#1F2041")
        +rectangle-color("dark-shade-75", "Dark Shade 75%", "#1F2041")
        +rectangle-color("dark-shade-50", "Dark Shade 50%", "#1F2041")
        +rectangle-color("dark-shade-25", "Dark Shade 25%", "#1F2041")
        +rectangle-color("dark-shade-5", "Dark Shade 5%", "#1F2041")
        +rectangle-color("purple", "Purple", "#bc9cff")
        +rectangle-color("green", "Green", "#6fcf97")