body {
    position: relative;
}

.logo {
    position: absolute;
    left:30px;
    top:30px;
}

.rectangle {
    position: absolute;
    left: 150px;
    top: 145px;
}

.typograph {
    position: absolute;
    right: 191px;
    top: 145px;
}