label.text-field_subscription
    input.text-field__input_subscription.typo_montserrat.typo_normal.typo_size_m.typo_theme_default(type="text" placeholder="Email")
    .arrow.arrow_subscription="arrow_forward"