@import 'blocks/color.scss';

.text-field_subscription{
 position: relative;
 display:block;
}

.text-field_subscription input {
   // display:block;
    position: absolute;
    width: 267px;
    height: 44px;
    padding-left:15px;

   // background: $color_white;
    border:1px solid $dark-shade25;
    box-sizing: border-box;
    border-radius: 4px;
    outline:none;

&::placeholder {
   

    font-family: Montserrat-thin;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $dark-shade25;
}
}

.arrow_subscription {
    // width:44px;
    // height:44px;
    // position: absolute;
    // font-family: 'Material Icons';
    // font-style: normal;
    // font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding-left: 223px;
    
    

/* Primary Gradient */
    background: -webkit-linear-gradient(180deg, $color_purple 0%, $color_blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

