@import "../../color.scss";
.dropdown-calendar__field {
    @include font-config_body($height:18px);
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    border: 1px solid $dark-shade25;
    //background: url(/src/blocks/dropdown/__icon/keyboard_arrow_down-black-18dp.svg) no-repeat 100% 50%;
    border-radius: 2px;
    outline: none;
    background: $color-white;
    &:focus {
        border-color: $dark-shade50;
    }
    ;
    padding-left: 15px;
}