.checkbox-buttons__input {
    // position: absolute;
    display: none;
    outline: none;
}

.checkbox-buttons__input:checked+.checkbox-buttons__div::before {
    background: url(/src/icons/done.svg) no-repeat center 3px;
    border-color: $color_purple;
}