@import 'blocks/color.scss';

.toggle {
    display: flex;
    // justify-content: left;
    // align-items: center;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid $dark-shade25;
    border-radius: 10px;
    box-sizing: border-box;
    

}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}



.toggle-slider {
    
    //position: absolute;
    cursor: pointer;
    // width: 12px;
    // height: 12px;
    //border-radius: 10px;
    background: $dark-shade25;
    // left: 3px;
    // transition: .4s;
    outline:none;

&::before {
    content: "";
    
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: $dark-shade25;
    left: 3px; // почему
    top:3px;// не работал
    bottom: 3px;// flex
    transition: .4s;
}
}

input:checked + .toggle-slider::before {
    transform: translateX(20px);
    background: $gradient-color;
}

.toggle::after {
    content: "";
    border-color: $color_purple;
}
