.rate
    input.rate__input(type="radio" value="5" id="star-5")
    label.rate__star(for="star-5")

    input.rate__input(type="radio" value="4" id="star-4")
    label.rate__star(for="star-4")

    input.rate__input(type="radio" value="3" id="star-3")
    label.rate__star(for="star-3")

    input.rate__input(type="radio" value="2" id="star-2")
    label.rate__star(for="star-2")

    input.rate__input(type="radio" value="1" id="star-1")
    label.rate__star(for="star-1")
