@import "blocks/color.scss";

.rate__div {
    //position: relative;
    display:inline-flex;
    flex-direction: row-reverse;
    position: relative;
    
    
}

.rate__input  {
    display:none;
}

.rate__star {
    //position: absolute;
    cursor: pointer;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    text-align: center;
    

&::before {
    content: "star_border";
    //position: absolute;
    width: 24px;
    height: 24px;
    background: $gradient-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// &:hover~&::before {
//     content: "star";
//     background: $gradient-color;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;

// &.rate__input:checked~&::before {
//     content: "star";
//     background: $gradient-color;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }
// }


}

.rate__star:hover:before,
.rate__star:hover ~ .rate__star:before,
.rate__input:checked ~ .rate__star:before
{
	content: "star";
}