@import 'blocks/color.scss';

.button-arrow {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: $gradient-color;
    border-radius: 22px;
    
    border-style: none;
    outline: none;

&:active {
    opacity: 0.5;
}

}

.arrow_button {
	position: absolute;
	font-size: 24px;  /* Preferred icon size */
    right: 0;
    top: 0;
	line-height: 24px;
	color: $color_white;
 
  }

