link(rel="stylesheet", href="index.scss")
mixin button-arrow(text)
    button.button-arrow
        span.button-arrow__text.typo_montserrat.typo_bold.typo_size_s.typo_height_s=text
        .arrow.button-arrow__arrow="arrow_forward"