@import "../../color.scss";
@import "./__div/checkbox-buttons__div.scss";
@import "./__input/checkbox-buttons__input.scss";
.checkbox-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}