link(rel="stylesheet", href="index.scss")
mixin checkbox(text)
    .checkbox-buttons
        label
            input.checkbox-buttons__input(type="checkbox")
            span.checkbox-buttons__div.typo_montserrat.typo_theme_light.typo_normal.typo_size_m=text
        
