link(rel="stylesheet", href="index.scss")
mixin checkbox(text,id)
    .checkbox-buttons__div    
        input.checkbox-buttons__input(type="checkbox" id=id)
        label.checkbox-buttons.typo.typo_theme_light.typo_normal.typo_size_m(for=id)=text
