@import "../../color.scss";
@import "./__div/checkbox-buttons__div.scss";
@import "./__input/checkbox-buttons__input.scss";
.checkbox-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-child(2n) {
        margin-top: 10px;
        margin-bottom: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
    
}