.checkbox-buttons__div    
    input.checkbox-buttons__input(type="checkbox" id="smoke")
    label.checkbox-buttons(for="smoke") Можно курить
 
    input.checkbox-buttons__input(type="checkbox" id="pet")
    label.checkbox-buttons(for="pet") Можно с питомцами
    
    input.checkbox-buttons__input(type="checkbox" id="guest")
    label.checkbox-buttons(for="guest") Можно пригласить гостей (до 10 человек)
    
