.counter__input {
    @include font-config_h3();
    border: none;
    width: 92px;
    height: 15px;
    background: none;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    
}