doctype html
html
    include blocks/button/_gradient-border/button_gradient-border.pug
    include blocks/button/_gradient-background/button_gradient-background.pug
    include blocks/simple-button/simple-button.pug
    include blocks/button-arrow/button-arrow.pug
    include blocks/checkbox/__toggle/checkbox__toggle.pug
    include blocks/checkbox/__like/checkbox__like.pug
    include blocks/text-field/text-field.pug
    include blocks/text-field/_subscribtion/text-field_subscription.pug
    include blocks/rate/rate.pug
    include blocks/checkbox-buttons/checkbox-buttons.pug
    include blocks/pagination/pagination.pug
    include blocks/radio-buttons/radio-buttons.pug
    