doctype html
html
    h1 STEP 2
    h2 UI kit
    ul
        li
            a(href="pages/ui-kit/form-elements.html") Form elements
        li
            a(href="pages/ui-kit/color-and-types.html") Color and types
        li
            a(href="pages/ui-kit/cards.html") Cards
        li
            a(href="pages/ui-kit/header-footer.html") Header and Footer
    h2 Website pages
    ul
        li
            a(href="pages/website-pages/landing.html") Landing
        li
            a(href="pages/website-pages/registration.html") Registration
        li
            a(href="pages/website-pages/login.html") Login
    
    
    
    