doctype html
html
    include blocks/button/_gradient-border/button_gradient-border.pug
    include blocks/button/_gradient-background/button_gradient-background.pug
    include blocks/simple-button/simple-button.pug
    include blocks/button-arrow/button-arrow.pug