doctype html
html
    //- include blocks/button/_gradient-border/button_gradient-border.pug
    //- include blocks/button/_gradient-background/button_gradient-background.pug
    //- include blocks/simple-button/simple-button.pug
    //- include blocks/button-arrow/button-arrow.pug
    //- include blocks/checkbox/__toggle/checkbox__toggle.pug
    //- include blocks/checkbox/__like/checkbox__like.pug
    //- include blocks/text-field/text-field.pug
    //- include blocks/text-field/_subscribtion/text-field_subscription.pug
    //- include blocks/rate/rate.pug
    //- include blocks/checkbox-buttons/checkbox-buttons.pug
    //- include blocks/pagination/pagination.pug
    //- include blocks/radio-buttons/radio-buttons.pug
    //- include blocks/checkbox-buttons/_rich/checkbox-buttons_rich.pug
    //- include blocks/bullet-list/bullet-list.pug
    //- include blocks/icon-text-list/icon-text-list.pug
    //- include blocks/review/review.pug
    //- include blocks/logo/logo.pug
    //- include blocks/slider/slider.pug
    //- include blocks/counter/counter.pug


    //- +toggle("Получать спецпредложения")
    //- +like()

    //- +button_gradient-background('click me')
    //- +button_gradient-border('click me')
    //- +simple-button('click me')
    //- +button-arrow('перейти к оплате')
    
    //- +checkbox-rich('Широкий коридор','Ширина коридоров в номере\u00A0не менее 91 см.','hall')
    //- +checkbox-rich('Помощник для инвалидов','На 1 этаже вас встретит специалист\nи проводит до номера.','help')
    
    //- +checkbox('Можно курить','smoke')
    //- +checkbox('Можно с питомцами','pet')
    //- +checkbox('Можно пригласить гостей (до 10 человек)','guest')

    //- .radio-buttons
    //-     +radio('Мужчина','man','gender')
    //-     +radio('Женщина','woman','gender')
    //- .bullet
    //-     +bullet-list("Нельзя с питомцами")
    //-     +bullet-list("Без вечеринок и мероприятий")
    //-     +bullet-list("Время прибытия — после 13:00, а выезд до 12:00")
    //- .wrap
    //-     +icon-text-list("insert_emoticon","Комфорт","Шумопоглощающие стены")
    //-     +icon-text-list("location_cityicon","Удобство","Окно в каждой из спален")

    //- +review('Мурад Сарафанов','5 дней назад','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
    //- +logo()
    //- +text-field("Email")
    //- +slider()
    //- .counter
    //-     +counter()

    h1 STEP 2
    a(href="pages/form-elements.html") Form elements