.header__menu-icon {
    cursor: pointer;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: none;
    text-align: center;
    background: -webkit-linear-gradient(180deg, $color_purple 0%, $color_blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
    flex-grow:0;
}

@media (max-width:1000px) {
    .header__menu-icon {
        display: inline-block;
    }
    
    .header__menu .header__menu-icon {
        position: absolute;
        right: 15px;
        top: 23px;
    }
}