body {
    background: #E5E5E5;
}
.cards {
    display:flex;
    justify-content: space-between;
    margin: 150px 140px 140px 140px;
    
    align-items: flex-start;
}

.logo {
    position: relative;
    top: 48px;
    left: 48px;
    width: 48px;
}
.cards__element {
    &:first-child {
        margin-bottom: 40px;
    }
    &:nth-child(2n+1) {
        margin-top: 40px;
    }
    &_size_s {
        width:270px;
    }
    &_size_m {
        width:320px;
    }
    &_size_l {
        width:380px;
    }
}

@media (max-width:500px) {
    .cards__element {
        &_size_s {
            max-width:270px;
            width: 100%;
        }
        &_size_m {
            max-width:320px;
            width: 100%;
        }
        &_size_l {
            max-width:380px;
            width: 100%;
        }
    }
    .cards {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}
@media (min-width: 500px) and (max-width: 768px) {
    .logo {
        top: 5px;
        left: 5px;
    }
    .cards {
        margin:5px;
    }
    .column {
        margin-right: 20px;
        &:last-child {
             margin-right:0;
        } 
    }
    
}
@media (min-width: 768px) and (max-width: 1440px) {
    .logo {
        top: 5px;
        left: 5px;
    }
    .cards {
        margin:15px;
    }
    .column {
        margin-right: 35px;
        &:last-child {
            margin-right:0;
        }  
    }
    
}

@media (max-width: 500px) {
    body {
        margin:0;
    }
    .logo {
        display:none;
    }
}