.dropdowns-calendar__icon {
    cursor: pointer;
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    color: $dark_shade50;
}