include \..\button/_gradient-border/button_gradient-border.pug
include \..\button/_gradient-background/button_gradient-background.pug
mixin header(auth)
    header.header
        .header__logo
            img(src=require("../../img/logoHead.svg").default, alt="")
        nav.header__menu
            a.header__menu-element(href="") О нас
            .header__menu-element.header__menu-expand-elem
                .header__menu-expand-elem-text Услуги
                .header__menu-expand-elem-icon keyboard_arrow_down 
                
            a.header__menu-element(href="") Вакансии
            a.header__menu-element(href="") Новости
            .header__menu-element.header__menu-expand-elem
                .header__menu-expand-elem-text Соглашения
                .header__menu-expand-elem-icon keyboard_arrow_down
        if auth
            .header__user
                .header__line
                .header__user-name Юлий Цезарь

        else
            .header__login
                +button_gradient-border('войти')
                .header__login-element
                    +button_gradient-background('зарегистрироваться')