@import "./__menu/header__menu.scss";
@import "./__menu-element/header__menu-element.scss";
@import "./__login/header__login.scss";
@import "./__login-element/header__login-element.scss";
@import "./__menu-expand-elem/header__menu-expand-elem.scss";
@import "./__menu-expand-elem-icon/header__menu-expand-elem-icon.scss";
@import "./__line/header__line.scss";
@import "./__user/header__user.scss";
@import "./__user-name/header__user-name.scss";
@import "../typo/typo.scss";

.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    height: 70px;
    background: $color-white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    flex-basis: max-content;
}




.header__logo {
    display: flex;
    flex-grow: 1;
}

@media (max-width: 1280px) {
    .header {
        padding: 0 30px;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 0 15px;
    }
    .header__logo {
        display: none;
    }
}