link(rel="stylesheet", href="index.scss")
mixin toggle(text)
    .checkbox
        label.checkbox__wrap
            input(type="checkbox")
            span.checkbox__toggle-slider
        span.checkbox__toggle_text.typo.typo_size_m.typo_normal.typo_theme_default=text


    