link(rel="stylesheet", href="index.scss")
mixin icon-text-list(icon,head,text)
    .icon-text-list
        .icon-text-list__icon=icon
        .icon-text-list__text-div
            span.typo.typo_bold.typo_size_m.typo_theme_default=head
            span.typo.typo_normal.typo_size_m.typo_theme_default=text
    .icon-text-list__line