
mixin icon-text-list(icon,head,text)
    .icon-text-list
        .icon-text-list__wrap
            .icon-text-list__icon=icon
            .icon-text-list__text-div
                span.icon-text-list__text=head
                span.icon-text-list__text=text
        .icon-text-list__line