@import"./src/blocks/icon-text-list/__icon/icon-text-list__icon.scss";
@import"./src/blocks/icon-text-list/__text-div/icon-text-list__text-div.scss";
@import"./src/blocks/icon-text-list/__line/icon-text-list__line.scss";

.icon-text-list {
    display: block;
    &:last-child {
    margin-top:23px;
    }
    &__wrap {
        display:inline-flex;
        align-items: center;
    }

}

