link(rel="stylesheet", href="index.scss")
mixin icon-text-list(icon,head,text)
    .icon-text-list
        .icon-text-list__wrap
            .icon-text-list__icon=icon
            .icon-text-list__text-div.typo_montserrat.typo_size_m.typo_theme_default.typo_theme_default.typo_height_m
                span.typo_bold=head
                span.typo_normal=text
        .icon-text-list__line