@import"blocks/bullet-list/__circle/bullet-list__circle.scss";

.bullet-list {
    display: flex;
    align-items: center;
    margin-bottom:10px;

    &:last-child {
        margin-bottom: 0;
    }
}