@import"./src/blocks/bullet-list/__circle/bullet-list__circle.scss";
@import"./src/blocks/bullet-list/__text/bullet-list__text.scss";

.bullet-list {
    display: flex;
    align-items: baseline;
    margin-bottom:10px;
    flex-shrink: 0;

    &:last-child {
        margin-bottom: 0;
    }
}