extends /../../../layout/__website/layout__website.pug

block realize
    -title = "Landing page"
block include
    include /../../../blocks/card-search/card-search.pug
block content
    .landing
        .landing__element
            +card-search()
        .landing__inscription
            span.landing__text Лучшие номера для вашей работы,<br> отдыха и просто вдохновения